<div *ngIf="!isUpdate">
   <h2>Add new Address for {{customersData.name}}</h2>
   <form  id="formNewCustomerAddress" name="formNewCustomerAddress"  #customerAddressData="ngForm">
      <mat-form-field>  <input matInput placeholder="addressType" name="addressType"ngModel><br>   </mat-form-field>
      <mat-form-field> <input matInput placeholder="houseNo" name="houseNo"ngModel> </mat-form-field>
      <mat-form-field> <input matInput placeholder="street" name="street"ngModel> </mat-form-field>
      <mat-form-field>  <input matInput placeholder="landMark" name="landMark"ngModel> </mat-form-field>
      <mat-form-field> <input matInput placeholder="zip" name="zip"ngModel> </mat-form-field>
      <mat-form-field> <input matInput placeholder="state" name="state"ngModel> </mat-form-field>
      <mat-form-field> <input matInput placeholder="country" name="country"ngModel> </mat-form-field>
      <button mat-button (click)="addNewAddress(customerAddressData.value)">Submit</button>
      <br>
      <button mat-button (click)="resetForm(customerAddressData)">Reset</button>
   </form>
</div>
<div *ngIf="isUpdate" >
   <h2>Update Teams for : {{customersData.name}}</h2>
   <form id="formNewCustomer2" name="formNewCustomerUpdate"  #customerDataUpdate="ngForm">
      <input class="form-control" name="name" value="{{customersData.name}}" [(ngModel)]="customersData.name" ngModel>
      <input class="form-control" name="contact" value="{{customersData.contact}}" [(ngModel)]="customersData.contact" ngModel>
      <p-button label="Update" (click)=updateCustomer(customerDataUpdate.value) ></p-button>
   </form>
</div>
