<!--
<div *ngIf="  data.customerAddress!==undefined" >
   <h2 *ngIf="data.customerAddress.id === ''" mat-dialog-title>Create Address</h2>
   <h2   *ngIf="data.customerAddress.id !== ''" mat-dialog-title>Update Address</h2>
   <mat-dialog-content>
      <form id="formNewAddressUpdate" name="formNewAddressUpdate"  #addressDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="Address" name="address" [value]="data.customerAddress.address" [(ngModel)]="data.customerAddress.address" ngModel><br>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="Country" name="country" [value]="data.customerAddress.country" [(ngModel)]="data.customerAddress.country" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button [mat-dialog-close]=data.customerAddress>Update</button>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
   </mat-dialog-actions>
</div>
-->
