<div *ngIf="data!==undefined && data.id === 0" >
   <h2 mat-dialog-title>Create New Project Rythm</h2>
   <mat-dialog-content>
     <form  id="formNewProjectRythm" name="formNewProjectRythm"  #projectRythmData="ngForm">
        <mat-form-field>  <input matInput placeholder="event" name="event"ngModel><br>   </mat-form-field>
        <mat-form-field> <input matInput placeholder="frequency" name="frequency"ngModel> </mat-form-field>
        <mat-form-field> <input matInput placeholder="whoRythm" name="whoRythm"ngModel> </mat-form-field>
        <mat-form-field> <input matInput placeholder="whereRythm" name="whereRythm"ngModel> </mat-form-field>
     </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=projectRythmData.value>Save</button>
   </mat-dialog-actions>
</div>
<div *ngIf="  data!==undefined && data.id !== 0" >
   <h2 mat-dialog-title>Update Project Rythm </h2>
   <mat-dialog-content>
      <form id="formNewProjectRythmUpdate" name="formNewProjectRythmUpdate"  #projectRythmUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="event" name="event" [value]="data.event" [(ngModel)]="data.event" ngModel><br>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="frequency" name="frequency" [value]="data.frequency" [(ngModel)]="data.frequency" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="whoRythm" name="whoRythm" [value]="data.whoRythm" [(ngModel)]="data.whoRythm" ngModel><br>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="whereRythm" name="whereRythm" [value]="data.whereRythm" [(ngModel)]="data.whereRythm" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=projectRythmUpdate.value>Update</button>
   </mat-dialog-actions>
</div>
