<div *ngIf="data!==undefined && data.id === 0" >
   <h2 mat-dialog-title>Plan New Travel</h2>
   <mat-dialog-content>
     <form  id="formNewCustomerTravel" name="formNewCustomerTravel"  #customerTravelData="ngForm">
        <mat-form-field>  <input matInput placeholder="name" name="name"ngModel><br>   </mat-form-field>
        <mat-form-field> <input matInput placeholder="travellingFrom" name="travellingFrom"ngModel> </mat-form-field>
        <mat-form-field>  <input matInput placeholder="travellingTo" name="travellingTo"ngModel><br>   </mat-form-field>
        <mat-form-field> <input matInput placeholder="travellingFromDate" name="travellingFromDate"ngModel> </mat-form-field>
        <mat-form-field>  <input matInput placeholder="travellingToDate" name="travellingToDate"ngModel><br>   </mat-form-field>
        <mat-form-field>  <input matInput placeholder="purpose" name="purpose"ngModel><br>   </mat-form-field>
     </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=customerTravelData.value>Save</button>
   </mat-dialog-actions>
</div>
<div *ngIf="  data!==undefined && data.id !== 0" >
   <h2 mat-dialog-title>Update Travel </h2>
   <mat-dialog-content>
      <form id="formNewTravelUpdate" name="formNewTravelUpdate"  #travelDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="name" name="name" [value]="data.name" [(ngModel)]="data.name" ngModel><br>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="travellingFrom" name="travellingFrom" [value]="data.travellingFrom" [(ngModel)]="data.travellingFrom" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="travellingTo" name="travellingTo" [value]="data.travellingTo" [(ngModel)]="data.travellingTo" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="travellingFromDate" name="travellingFromDate" [value]="data.travellingFromDate" [(ngModel)]="data.travellingFromDate" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="travellingToDate" name="travellingToDate" [value]="data.travellingToDate" [(ngModel)]="data.travellingToDate" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="purpose" name="purpose" [value]="data.purpose" [(ngModel)]="data.purpose" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=travelDataUpdate.value>Update</button>
   </mat-dialog-actions>
</div>
