<div *ngIf="  data.customerGoal !== undefined" >
   <h2 mat-dialog-title>Update Goal</h2>
   <mat-dialog-content>
      <form id="formNewGoalUpdate" name="formNewGoalUpdate"  #goalDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="description" name="description" [value]="data.customerGoal.description" [(ngModel)]="data.customerGoal.description" ><br>
         </mat-form-field>
         <mat-form-field >
           <input type="text" placeholder="Pick tenure" name="tenure" matInput  [(ngModel)]="data.customerGoal.tenure" [matAutocomplete]="auto " >
           <mat-autocomplete #auto="matAutocomplete">
             <mat-option *ngFor="let option of data.goalTenures" [value]="option">
               {{ option }}
             </mat-option>
           </mat-autocomplete>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="status" name="status" [value]="data.customerGoal.status" [(ngModel)]="data.customerGoal.status" >
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="details" name="details" [value]="data.customerGoal.details" [(ngModel)]="data.customerGoal.details" >
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="signedBy" name="signedBy" [value]="data.customerGoal.signedBy" [(ngModel)]="data.customerGoal.signedBy" >
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <button mat-button [mat-dialog-close]=data.customerGoal>Update</button>
   </mat-dialog-actions>
</div>
