
<div class="ui-g-12">


    <h3>Employee Operations</h3>

    <div class="ui-g-12 tos-button-right">
    <button pButton label="Add Employee" icon="fa-plus" (click)="navigateNewEmployee()"></button>
    </div>

    <table>
    <tr *ngIf="employees.length===0"> No employees Present </tr>
    </table>

    <p-card *ngFor = "let emp of employees" class="ui-g-3">
        <p-header>
            {{emp.name}}
        </p-header>
        {{emp.joiningDate}} <br>
      {{emp.responsibilities}}<br>
      {{emp.yearsOfExperience}}<br>
      {{ emp.createdAt | date : 'd-M-yy, h:mm a'}}
<p-button class="tos-button" label="Delete" (click)="delelteEmployee(emp.id)" icon="fa fa-minus-circle"></p-button>
<button pButton label="Update" icon="fa-edit" (click)="navigateUpdateEmployee(emp.id)"></button>
    </p-card>


</div>
