<div fxFlex="20%" fxHide.lt-md="true"></div>
<div fxFlex="100%" >
   <h3>Employee Operations</h3>
   <div class=" tos-button-right">
      <button mat-button color="primary" mat-mini-fab (click)="openDialog()" > <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let emp of employees">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title><span (click)="navigateViewEmployee(emp.id)" class="tos-cust-heading"> {{emp.name}}</span></mat-card-title>
               <mat-card-subtitle>Employee</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
               {{emp.joiningDate}} <br>  {{emp.responsibilities}}<br>  {{emp.yearsOfExperience}}<br>  {{ emp.createdAt | date : 'd-M-yy, h:mm a'}}<br>
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog(emp.id)" style="cursor:pointer;color:grey"><mat-icon  >create</mat-icon></span>&emsp;
               <span (click)="delelteEmployee(emp.id)" style="cursor:pointer; color:grey"><mat-icon  >delete</mat-icon></span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="employees.length===0">No employees Present </div>
   </div>
</div>
<div fxFlex="20%" fxHide.lt-md="true"></div>
