<div *ngIf="isUpdate">
   <h2>Add new Employee </h2>
   <form  id="formNewEmployee" name="formNewEmployee"  #employeeData="ngForm">
      <mat-form-field >
         <input matInput placeholder="name" name="name"ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="joiningDate" name="joiningDate"ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="yearsOfExperience" name="yearsOfExperience"ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="responsibilities" name="responsibilities"ngModel><br>
      </mat-form-field>
      <button mat-button (click)="addNewEmployee(employeeData.value)">Submit</button>
      <br> <br>
      <button mat-button (click)="resetForm(employeeData)">Reset</button>
   </form>
</div>
<div *ngIf="!isUpdate && employeesData != undefined" >
   <h2>Update Employee : {{employeesData.name}}</h2>
   <form id="formNewEmployee2" name="formNewEmployeeUpdate"  #employeeDataUpdate="ngForm">
      <mat-form-field >
         <input matInput placeholder="name" name="name" value="{{employeesData.name}}" [(ngModel)]="employeesData.name" ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="joiningDate" name="joiningDate" value="{{employeesData.joiningDate}}" [(ngModel)]="employeesData.joiningDate" ngModel>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="yearsOfExperience" name="yearsOfExperience" value="{{employeesData.yearsOfExperience}}" [(ngModel)]="employeesData.yearsOfExperience" ngModel>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="responsibilities" name="responsibilities" value="{{employeesData.responsibilities}}" [(ngModel)]="employeesData.responsibilities" ngModel>
      </mat-form-field>
      <button mat-button (click)="updateEmployee(employeeDataUpdate.value)">Update</button>
   </form>
</div>
