<div *ngIf="employee != undefined" style="color: #818080;">
   <h2 style="color: #000000;">{{employee.name}} </h2>
   <mat-icon>date</mat-icon>
   <b> Joining Date : </b> {{employee.joiningDate | date : 'd-M-yy'}} &emsp;&emsp;
   <b> Responsibilities : </b> {{employee.responsibilities}} &emsp;&emsp; <b> Total years of Experience : </b> {{employee.yearsOfExperience}} <br><br>
</div>
<mat-accordion [multi]="true" @fade>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Skills</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('skills')" style="cursor:pointer;color:grey; font-size: 2.5em;">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let skill of employeeSkills" >
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span class="tos-cust-heading"> {{skill.name}}</span></h3>
                  <span *ngIf="skill.rating !== ''">
                     <a class="tos-rating" *ngFor="let i of Arr(+skill.rating).fill(1)">
                        <mat-icon >star rate</mat-icon>
                     </a>
                  </span>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Duration: {{skill.duration}} <br>Last Used: {{skill.lastUsed}}<br>
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('skills',skill.id)" style="cursor:pointer;color:grey">
                  <mat-icon>create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('skills', skill.id, employeeSkills )" style="cursor:pointer; color:grey">
                  <mat-icon>delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="employeeSkills === undefined">No Skills Updated </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Certifications</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('certifications')" style="cursor:pointer;color:grey; font-size: 2.5em;">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let certification of employeeCertifications">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span class="tos-cust-heading"> {{certification.name}}</span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Certification Year : {{certification.yearOfCertification}}
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('certifications',certification.id)" style="cursor:pointer;color:grey">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('certifications', certification.id, employeeCertifications)" style="cursor:pointer; color:grey">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="employeeCertifications === undefined">No Certifications </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Trainings</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('trainings')" style="cursor:pointer;color:grey; font-size: 2.5em;">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let training of employeeTrainings">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span class="tos-cust-heading"> {{training.name}}</span></h3>
               </mat-card-title>
               <!--     <mat-card-subtitle>Trainings</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
               Mode : {{ training.mode}}<br>Training proposed Date : {{ training.proposedDate | date : 'd-M-yy'}}
               <br>Reason: {{ training.reason}}
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('trainings',training.id)" style="cursor:pointer;color:grey">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('trainings', training.id, employeeTrainings )" style="cursor:pointer; color:grey">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="employeeTrainings === undefined">No Trainings scheduled </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Feedbacks</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('feedbacks')" style="cursor:pointer;color:grey; font-size: 2.5em;">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let feedback of employeeFeedbacks">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span class="tos-cust-heading">{{feedback.feedback}}</span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Recieved From: {{feedback.receivedFrom}} <br>Action Taken: {{feedback.actionsTaken}}<br>
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('feedbacks',feedback.id)" style="cursor:pointer;color:grey">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('feedbacks', feedback.id, employeeFeedbacks)" style="cursor:pointer; color:grey">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="employeeFeedbacks.length===0">No Feedbacks</div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Improvement Areas</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class=" tos-button-right">
      <span  (click)="openDialog('improvementareas')" style="cursor:pointer;color:grey; font-size: 2.5em;">+</span>
   </div>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let improvementArea of employeeImprovementAreas">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span class="tos-cust-heading">{{improvementArea.areasOfImprovement}}</span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content>
               Plan : {{improvementArea.improvementPlan}} <br>
               Proposed Date: {{improvementArea.proposedDate | date : 'd-M-yy'}}<br>
            </mat-card-content>
            <mat-card-actions>
               <span (click)="openUpdateDialog('improvementareas', improvementArea.id)" style="cursor:pointer;color:grey">
                  <mat-icon  >create</mat-icon>
               </span>
               &emsp;
               <span (click)="delelteEntity('improvementareas', improvementArea.id, employeeImprovementAreas )" style="cursor:pointer; color:grey">
                  <mat-icon  >delete</mat-icon>
               </span>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="employeeImprovementAreas.length===0">No improvement Areas Defined </div>
   </div>
   </mat-expansion-panel>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
   <mat-expansion-panel-header>
      <mat-panel-title>
         <h3>Teams</h3>
      </mat-panel-title>
      <mat-panel-description>
         <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
   </mat-expansion-panel-header>
   <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
      <div fxFlex="30%" *ngFor = "let team of teams">
         <mat-card class="example-card" >
            <mat-card-header>
               <mat-card-title>
                  <h3><span class="tos-cust-heading" (click)="navigateViewTeam(team.id)" > {{team.name}}</span></h3>
               </mat-card-title>
            </mat-card-header>
            <mat-card-content><span (click)="navigateViewTeam(team.id)" class="tos-cust-heading"> {{team.specialization}} <br></span>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
         </mat-card>
      </div>
      <div *ngIf="teams.length===0">No Teams Present </div>
   </div>
   </mat-expansion-panel>
</mat-accordion>
