Hi
<div *ngIf="data!==undefined && data.id === 0" >
   <h2 mat-dialog-title>Create New Goal</h2>
   <mat-dialog-content>
     <form  id="formNewCustomerGoal" name="formNewCustomerGoal"  #customerGoalData="ngForm">
        <mat-form-field>  <input matInput placeholder="description" name="description"ngModel><br>   </mat-form-field>
        <mat-form-field> <input matInput placeholder="tenure" name="tenure"ngModel> </mat-form-field>
        <mat-form-field> <input matInput placeholder="status" name="status"ngModel> </mat-form-field>
        <mat-form-field>  <input matInput placeholder="details" name="details"ngModel> </mat-form-field>
        <mat-form-field> <input matInput placeholder="signedBy" name="signedBy"ngModel> </mat-form-field>
     </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=customerGoalData.value>Save</button>
   </mat-dialog-actions>
</div>
<div *ngIf="  data!==undefined && data.id !== 0" >
   <h2 mat-dialog-title>Update Goal for : {{data.name}} </h2>
   <mat-dialog-content>
      <form id="formNewGoalUpdate" name="formNewGoalUpdate"  #goalDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="description" name="description" value="{{data.description}}" [(ngModel)]="data.description" ngModel><br>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="tenure" name="tenure" value="{{data.tenure}}" [(ngModel)]="data.tenure" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="status" name="status" value="{{data.status}}" [(ngModel)]="data.status" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="details" name="details" value="{{data.details}}" [(ngModel)]="data.details" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="signedBy" name="signedBy" value="{{data.signedBy}}" [(ngModel)]="data.signedBy" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=goalDataUpdate.value>Update</button>
   </mat-dialog-actions>
</div>
