<div *ngIf="!isUpdate">
   <h2>Add new Goal for {{customersData.name}} </h2>
   <form  id="formNewCustomerGoal" name="formNewCustomerGoal"  #customerGoalData="ngForm">
      <mat-form-field>  <input matInput placeholder="description" name="description"ngModel><br>   </mat-form-field>
      <mat-form-field> <input matInput placeholder="tenure" name="tenure"ngModel> </mat-form-field>
      <mat-form-field>  <input matInput placeholder="status" name="status"ngModel><br>   </mat-form-field>
      <mat-form-field> <input matInput placeholder="details" name="details"ngModel> </mat-form-field>
      <mat-form-field>  <input matInput placeholder="signedBy" name="signedBy"ngModel><br>   </mat-form-field>
      <button mat-button (click)="addNewGoal(customerGoalData.value)">Submit</button>
      <br>
      <button mat-button (click)="resetForm(customerGoalData)">Reset</button>
   </form>
</div>
<div *ngIf="isUpdate" >
   <h2>Update Goals for : {{customersData.name}}</h2>
   <form id="formNewCustomer2" name="formNewCustomerUpdate"  #customerDataUpdate="ngForm">
      <input class="form-control" name="name" value="{{customersData.name}}" [(ngModel)]="customersData.name" ngModel>
      <input class="form-control" name="contact" value="{{customersData.contact}}" [(ngModel)]="customersData.contact" ngModel>
      <p-button label="Update" (click)=updateCustomer(customerDataUpdate.value) ></p-button>
   </form>
</div>
