/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css?family=Ubuntu');
 @import '~@angular/material/prebuilt-themes/indigo-pink.css';
 @import url('https://fonts.googleapis.com/css?family=Montserrat');
 @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Available pre-built themes: deeppurple-amber.css indigo-pink.css pink-bluegrey.css purple-green.css */
/*/
////////////////[ FONT ]*/
 @font-face {
     font-family: Poppins-Regular;
     src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}
 @font-face {
     font-family: Poppins-Medium;
     src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
}
 @font-face {
     font-family: Poppins-Bold;
     src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
}
 @font-face {
     font-family: Poppins-SemiBold;
     src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
}
 html {
     overflow-y:scroll;
}
 body {
     font-family: sans-serif;
     font-size: 14px;
     margin: 0;
}
 h3 {
     color: #505050;
}
 .tos-content-color {
     color: #707070;
}
 body {
     background-color: #e8e4d9;
     background-image: url(./background-9.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
    /* background: #f5f5f5;
     background: linear-gradient(56deg, #dbdbdb, #f1f1f1);
     background: linear-gradient(96deg, #f4f4f4, #f1f1f1);
     background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
     background: linear-gradient(110deg, #ffca28 60%, #ffed4b 60%);
     background: linear-gradient(110deg, #000428 60%, #004e92 );
     background: linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%);
     */
}
 .tos-router-container .mat-expansion-panel {
     background: #efede5db;
}
 .tos-router-container .mat-expansion-panel-header.mat-expanded:hover {
     background: #eae8de17;
}
 content {
     min-height: 80vh;
     display: flex;
     flex-direction: column;
}
 mat-accordion {
     margin-bottom: 2em;
}
 footer {
     height: 7vh;
     bottom:0;
     width:100%;
     color: #ffffff;
     background: #191919;
     font-size: 14px;
     margin-top: 1em;
}
 .mat-form-field {
     width: 200px;
}
 .tos-button.mat-button {
     border: 1px solid #a4a199;
     border-radius: 3px;
}
 .tos-button.mat-button .mat-button-focus-overlay {
     background-color:transparent;
}
 login .mat-card .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
     background-color: white;
}
 .tos-primary-button.mat-raised-button, mat-dialog-actions .tos-primary-button.mat-raised-button {
     box-shadow: none;
     height: 38px;
     background-color: #0092e6;
     color: #ffffff;
}
 login .tos-primary-button.mat-raised-button {
     margin-left: 15px;
}
 .tos-button.mat-button:hover {
     background-color: #ffffff;
}
 .mat-dialog-actions {
     justify-content: space-between;
}
 .mat-dialog-actions .mat-raised-button+.mat-button {
     margin: 0 !important;
}
 footer p {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.8;
     letter-spacing: .5px;
     padding: .2em 5vw;
}
 profile, about, team-view, customer-view, customer-main, employee-view, employee-main {
     display: flex;
     flex-direction: column;
     flex: 1 1 100%;
}
 employee-main .mat-card {
     min-width: 100px;
}
 team-view .container, customer-view .container, customer-main .container, employee-view .container, employee-main .container {
     flex-wrap: wrap;
}
 .container > div {
     min-width: 200px;
}
 menu .mat-toolbar-single-row {
     padding: 0;
}
 @media only screen and (max-width: 600px) {
     customer-view .container, customer-main .container, employee-view .container, employee-main .container {
         flex-direction: column;
         box-sizing: border-box;
         display: flex;
         max-height: 100%;
         place-content: stretch flex-start;
         align-items: stretch;
    }
     login mat-card{
         margin: auto;
    }
     login {
         margin: 12em auto;
    }
     .tos-router-container .mat-expansion-panel-body {
         flex-direction: column !important;
    }
     .tos-button-right {
         padding-bottom: 10px;
    }
}
 .tos-menu-buttons > a {
     font-size: .7em;
     cursor: pointer;
     padding: 0 1em;
}
 .tos-menu-buttons > a:hover {
     color: #898989;
     transition: all 200ms ease;
}
/* XS Menu Styling */
 #cdk-overlay-0 > div {
     border-radius: 2px;
}
 #cdk-overlay-0 > div > div {
     display: flex;
     flex-direction: column;
}
 #cdk-overlay-0 > div > div > a {
     cursor: pointer;
     padding: .8em;
}
 #cdk-overlay-0 > div > div > a:hover {
     color: #898989;
     transition: all 200ms ease;
}
 .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
     height: 35px;
     width: 35px;
}
 .tos-button-right {
     text-align: right;
}
 body > app-root menu {
     padding-left: 0;
}
 .example-spacer {
     flex: 1 1 auto;
}
 a:link, a:visited, a:hover, a:active {
     color: black;
     text-decoration: none;
}
 .mat-toolbar {
     background: none;
}
 .mat-card-actions {
     text-align: right;
}
 .tos-material-button {
     display: flex;
     padding-left: 22%;
     font-weight: bold;
     line-height: 0.5em;
}
 .tos-text {
     padding: 0 .7em;
     color: #818080;
}
 .example-card.mat-card {
     background: #ffffff9c;
}
 mat-expansion-panel .example-card.mat-card {
     background: #ffffff87;
}
 .tos-text:hover {
     color: #818080;
}
 content > customer-view > div > span {
     display: flex;
     flex-direction: row;
     align-items: center;
     color: #818080;
     padding: 1em;
     flex-wrap: wrap;
}
 .tos-entity-top-content {
     align-items: center;
     display: flex;
     padding: 0 10px 10px 0;
}
 .tos-entity-top-content .mat-icon {
     cursor: default;
}
 .mat-card {
     margin-bottom: 1%;
}
 .mat-icon {
     color: #818080;
}
 @media only screen and (min-width: 601px) {
     customer-main .container > div {
         max-width: 60vw;
         padding:0 5%;
    }
     login mat-card{
         float: right;
    }
     login {
         top: 25%;
         position: fixed;
         left: 60%;
    }
}
 login mat-card-content button.mat-button {
     margin-left: -10px;
}
 login mat-form-field {
     padding-left: 16px;
}
 .tos-title-style > h2 {
     font-size: 1.5em;
}
 .mat-dialog-actions {
     flex-direction: row-reverse;
}
 body > app-root > div:nth-child(2) > menu > mat-toolbar:nth-child(2) > div:nth-child(3) > button:hover {
     transition: background-color 0.5s ease;
}
 customer-view .mat-card-header-text, team-view .mat-card-header-text, employee-view .mat-card-header-text, employee-main .mat-card-header-text {
     margin : 0;
     width: 100%;
}
 .tos-router-container .mat-card-header-text {
     margin : 0;
}
 about .mat-card {
     display: grid;
}
 employee-main > div.container > div > mat-card > mat-card-content > div > span {
     margin : 0;
}
 .tos-breads {
     padding: .5em 0;
     color: #8e8080;
     cursor: pointer;
}
/*settings for rating stars */
 employee-view .mat-card-title {
     display: flex;
}
 employee-view .mat-card-title mat-icon {
     font-size: 1.5em;
}
 .mat-card-title h3 {
     margin: 0;
     display: flex;
}
 h3 span {
     color: #505050;
}
 .tos-router-container .mat-card-content , customer-view .mat-card-content, employee-view .mat-card-content {
     margin: 0;
}
 .tos-crumbs-a {
     padding-right: .6em;
}
 .tos-arrow {
     font-size: .9em;
}
 .tos-router-container {
     display: flex;
     width: 100%;
     position: relative;
}
 login .mat-tab-label {
     min-width: 72px;
}
 login mat-form-field {
     width: 220px;
}
/*Card Style */
 .tos-router-container .mat-card-title {
     margin-bottom: 7px;
}
 .tos-router-container .mat-card {
     color: #8d8d8d;
}
 .tos-router-container .mat-card th {
     color: #6d6d6d;
}
 .tos-stars {
     display: flex;
     margin: auto;
}
 .tos-add-button {
     cursor:pointer;
     color:grey;
     font-size: 2.5em;
}
 .mat-card mat-card-content > span {
     cursor: default;
}
 .container .mat-expansion-panel-body {
     display: flex;
}
 .tos-router-container .mat-expansion-panel-body {
     display: flex;
     flex-direction: row-reverse;
}
 .mat-expansion-panel-body .container {
     width: 100%;
}
 .tos-button-right {
     display: flex;
     flex-direction: column;
}
 mat-dialog-container {
     padding: 25px 40px 40px 40px !important;
}
 .container .mat-card:not([class*=mat-elevation-z]) {
     box-shadow: 0 0px 1px -2px rgba(0,0,0,.1), 0 0px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.02), 0 0px 3px -1px rgba(0,0,0,.2);
}
 .container .mat-card:not([class*=mat-elevation-z]):hover {
     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 -2px 1px -2px rgba(0,0,0,.2);
}
 .shake-hover-style .tos-cust-heading {
     text-decoration: underline;
}
 .shake-hover-style .tos-cust-heading:hover {
     color: #000000 !important;
    /* transition: all .3s ease;
     transform: scale(1.1);
     (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 .tos-cust-heading {
     cursor: pointer;
}
 .tos-subtitle {
     font-size: 13px;
     font-style: italic;
     color: #706f6f;
     margin-left: 20px;
}
 .mat-checkbox-checked.mat-accent .mat-checkbox-background {
     background: #0092e6;
}
/* .shake-hover-style:hover {
     animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
     transform: translate3d(0, 0, 0);
     backface-visibility: hidden;
     perspective: 1000px;
}
 @keyframes shake {
     10%, 90% {
         transform: translate3d(-1px, 0, 0);
    }
     20%, 80% {
         transform: translate3d(2px, 0, 0);
    }
     30%, 50%, 70% {
         transform: translate3d(-4px, 0, 0);
    }
     40%, 60% {
         transform: translate3d(4px, 0, 0);
    }
}
 */
 