<div *ngIf="isUpdate">
   <h2>Add new Customer </h2>
   <form  id="formNewCustomer" name="formNewCustomer"  #customerData="ngForm">
      <mat-form-field >
         <input matInput placeholder="name" name="name"ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="contact" name="contact"ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="contactPerson" name="contactPerson"ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="domain" name="domain"ngModel><br>
      </mat-form-field>
      <button mat-button (click)="addNewCustomer(customerData.value)">Submit</button>
      <br> <br>
      <button mat-button (click)="resetForm(customerData)">Reset</button>
   </form>
</div>
<div *ngIf="!isUpdate && customersData != undefined" >
   <h2>Update Customer : {{customersData.name}}</h2>
   <form id="formNewCustomer2" name="formNewCustomerUpdate"  #customerDataUpdate="ngForm">
      <mat-form-field >
         <input matInput placeholder="name" name="name" value="{{customersData.name}}" [(ngModel)]="customersData.name" ngModel><br>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="contact" name="contact" value="{{customersData.contact}}" [(ngModel)]="customersData.contact" ngModel>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="contactPerson" name="contactPerson" value="{{customersData.contactPerson}}" [(ngModel)]="customersData.contactPerson" ngModel>
      </mat-form-field>
      <mat-form-field >
         <input matInput placeholder="domain" name="domain" value="{{customersData.domain}}" [(ngModel)]="customersData.domain" ngModel>
      </mat-form-field>
      <button mat-button (click)="updateCustomer(customerDataUpdate.value)">Update</button>
   </form>
</div>
