<div class="container">
   <div fxFlex="20%" fxHide.lt-md="true">
   </div>
   <div fxFlex="60%">
      <h3>Customer Operations</h3>
      <div class=" tos-button-right">
         <button mat-button color="primary" mat-mini-fab (click)="openDialog()"> <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
      </div>
      <div *ngIf="customers.length===0">No Customers Present</div>
      <div class="container tos-cust-cards" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
         <div *ngFor = "let cust of customers">
            <mat-card class="tos-cust-cards-style" >
               <mat-card-header>
                  <mat-card-title><span (click)="navigateViewCustomer(cust.id)" class="tos-cust-heading"> {{cust.id}} {{cust.name}} </span></mat-card-title>
                  <mat-card-subtitle>{{cust.name}}</mat-card-subtitle>
               </mat-card-header>
               <mat-card-content>
                  <table style="width: 100%;">
                     <th > <a *ngIf="cust.domain.length > 0">Domain </a></th>
                     <th > <a *ngIf="cust.contactPerson != null">Contact Person </a></th>
                     <th > <a  *ngIf="cust.addresses.length > 0">Contact Address </a> </th>
                     <th >Contact Number</th>
                     <tr class="tos-table">
                        <td> <a *ngIf="cust.domain.length > 0" >{{cust.domain}} </a> </td>
                        <td> <a *ngIf="cust.contactPerson != null" >{{cust.contactPerson}} </a> </td>
                        <td ><a *ngIf="cust.addresses.length > 0" >{{cust.addresses[0].state}},{{cust.addresses[0].country}} </a> </td>
                        <td >{{cust.contact}}</td>
                     </tr>
                  </table>
               </mat-card-content>
               <mat-card-actions>
                  <button mat-mini-fab (click)="openUpdateDialog(cust.id)" > <mat-icon >create</mat-icon> </button>
                  <button mat-mini-fab (click)="deleteCustomer(cust.id)"> <mat-icon >delete</mat-icon> </button>
               </mat-card-actions>
            </mat-card>
         </div>
      </div>
   </div>
   <div fxFlex="10%" fxHide.lt-md="true">
   </div>
</div>
