<div *ngIf="data!==undefined && data.id === 0" >
      <h2 mat-dialog-title>Create New Customer</h2>
      <mat-dialog-content>
        <form  id="formNewCustomer" name="formNewCustomer"  #customerData="ngForm">
           <mat-form-field >
              <input matInput placeholder="name" name="name"ngModel><br>
           </mat-form-field>
           <mat-form-field >
              <input matInput placeholder="contact" name="contact"ngModel><br>
           </mat-form-field>
           <mat-form-field >
              <input matInput placeholder="contactPerson" name="contactPerson"ngModel><br>
           </mat-form-field>
           <mat-form-field >
              <input matInput placeholder="domain" name="domain"ngModel><br>
           </mat-form-field>
        </form>
      </mat-dialog-content>
      <mat-dialog-actions>
         <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
         <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
         <button mat-button [mat-dialog-close]=customerData.value>Save</button>
      </mat-dialog-actions>
</div>
<div *ngIf="  data!==undefined && data.id !== 0" >
   <h2 mat-dialog-title>Update Customer Details for : {{data.name}} </h2>
   <mat-dialog-content>
      <form id="formNewEmployee2" name="formNewEmployeeUpdate"  #customerDataUpdate="ngForm">
         <mat-form-field >
            <input matInput placeholder="name" name="name" value="{{data.name}}" [(ngModel)]="data.name" ngModel><br>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="contact" name="contact" value="{{data.contact}}" [(ngModel)]="data.contact" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="contactPerson" name="contactPerson" value="{{data.contactPerson}}" [(ngModel)]="data.contactPerson" ngModel>
         </mat-form-field>
         <mat-form-field >
            <input matInput placeholder="domain" name="domain" value="{{data.domain}}" [(ngModel)]="data.domain" ngModel>
         </mat-form-field>
      </form>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close="dialogDismissed">Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button [mat-dialog-close]=customerDataUpdate.value>Update</button>
   </mat-dialog-actions>
</div>
