<div *ngIf="customer != undefined" >
   <h2 >{{customer.name}}</h2>

<span>
   <mat-icon >phone</mat-icon>
  <a class="tos-text"> {{customer.contact}} &emsp;&emsp;&emsp;</a>
   <mat-icon >face</mat-icon>
   <a class="tos-text"> {{customer.contactPerson}} &emsp;&emsp;&emsp;</a>
    <mat-icon >domain</mat-icon>
    <a class="tos-text"> {{customer.domain}} </a>
    <br><br>
</span>

</div>

<mat-accordion [multi]="true">


  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>Customer Goals</h3>
      </mat-panel-title>
      <mat-panel-description>
          <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class=" tos-button-right">
       <button mat-button color="primary" mat-mini-fab (click)="openDialog('goals')"> <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
    </div>
    <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
       <div fxFlex="30%" *ngFor = "let goal of customerGoals">
          <mat-card class="example-card" >
             <mat-card-header>
                <mat-card-title>Goal</mat-card-title>
                <mat-card-subtitle>{{goal.description}}</mat-card-subtitle>
             </mat-card-header>
             <mat-card-content>
               {{goal.tenure}} <br>
               {{goal.status}}<br>
               {{goal.notes}}<br>
               {{goal.signedBy}}
             </mat-card-content>
             <mat-card-actions>
                <span (click)="openUpdateDialog('goals',goal.id)" style="cursor:pointer;color:grey"><mat-icon  >create</mat-icon></span>&emsp;
                <span (click)="delelteEntity('goals',goal.id,customerGoals)" style="cursor:pointer; color:grey"><mat-icon  >delete</mat-icon></span>
             </mat-card-actions>
          </mat-card>
       </div>
       <div *ngIf="customerGoals.length===0">No Goals Defined </div>
    </div>
  </mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Addresses</h3>
    </mat-panel-title>
    <mat-panel-description>
        <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class=" tos-button-right">
     <button mat-button color="primary" mat-mini-fab (click)="openDialog('addresses')"> <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
  </div>
  <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
     <div fxFlex="30%" *ngFor = "let address of customerAddresses">
        <mat-card class="example-card" >
           <mat-card-header>
              <mat-card-title>Address</mat-card-title>
              <mat-card-subtitle>{{address.addressType}}</mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
              {{address.houseNo}}, {{address.street}} <br>
              {{address.landMark}}, {{address.city}}<br>
              {{address.state}}, {{address.zip}}<br>
              {{address.country}} <br>
           </mat-card-content>
           <mat-card-actions>
              <span (click)="openUpdateDialog('addresses',address.id)" style="cursor:pointer;color:grey"><mat-icon  >create</mat-icon></span>&emsp;
              <span (click)="delelteEntity('addresses',address.id,customerAddresses)" style="cursor:pointer; color:grey"><mat-icon  >delete</mat-icon></span>
           </mat-card-actions>
        </mat-card>
     </div>
     <div *ngIf="customerAddresses.length===0">No address Updated </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Customer Teams</h3>
    </mat-panel-title>
    <mat-panel-description>
        <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class=" tos-button-right">
     <button mat-button color="primary" mat-mini-fab (click)="openDialog('teams')"> <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
  </div>
  <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
     <div fxFlex="30%" *ngFor = "let team of customerTeams">
        <mat-card class="example-card" >
           <mat-card-header>
              <mat-card-title><span (click)="navigateViewTeam(team.id)" class="tos-cust-heading"> Teams</span></mat-card-title>
              <mat-card-subtitle><span (click)="navigateViewTeam(team.id)" class="tos-cust-heading"> {{team.name}}</span></mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
              <span (click)="navigateViewTeam(team.id)" class="tos-cust-heading"> {{team.specialization}} </span>
           </mat-card-content>
           <mat-card-actions>
              <span (click)="openUpdateDialog('teams',team.id)" style="cursor:pointer;color:grey"><mat-icon  >create</mat-icon></span>&emsp;
              <span (click)="delelteEntity('teams',team.id,customerTeams)" style="cursor:pointer; color:grey"><mat-icon  >delete</mat-icon></span>
           </mat-card-actions>
        </mat-card>
     </div>
     <div *ngIf="customerTeams.length===0">No Teams Assigned </div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>StakeHolders</h3>
    </mat-panel-title>
    <mat-panel-description>
        <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class=" tos-button-right">
     <button mat-button color="primary" mat-mini-fab (click)="openDialog('stakeholders')"> <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
  </div>
  <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
     <div fxFlex="30%" *ngFor = "let sholder of customerStakeholders">
        <mat-card class="example-card" >
           <mat-card-header>
              <mat-card-title>StakeHolder</mat-card-title>
              <mat-card-subtitle>{{sholder.name}}</mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
             {{sholder.role}} <br>
             {{sholder.email}}<br>
             {{sholder.phoneNo}}<br>
             {{sholder.raci}}
           </mat-card-content>
           <mat-card-actions>
              <span (click)="openUpdateDialog('stakeholders',sholder.id)" style="cursor:pointer;color:grey"><mat-icon  >create</mat-icon></span>&emsp;
              <span (click)="delelteEntity('stakeholders',sholder.id,customerStakeholders)" style="cursor:pointer; color:grey"><mat-icon  >delete</mat-icon></span>
           </mat-card-actions>
        </mat-card>
     </div>
     <div *ngIf="customerStakeholders.length===0">No StakeHolders Present</div>
  </div>
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Travels</h3>
    </mat-panel-title>
    <mat-panel-description>
        <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class=" tos-button-right">
     <button mat-button color="primary" mat-mini-fab (click)="openDialog('travels')"> <mat-icon ><i class="material-icons tos-material-button">+</i></mat-icon> </button>
  </div>
  <div class="container" fxlayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="flex-start">
     <div fxFlex="30%" *ngFor = "let travel of customerTravels">
        <mat-card class="example-card" >
           <mat-card-header>
              <mat-card-title>Travel</mat-card-title>
              <mat-card-subtitle>{{travel.name}}</mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
             {{travel.travellingFrom}} To {{travel.travellingTo}}<br>
              {{travel.travellingFromDate | date : 'd-M-yy'}} To {{travel.travellingToDate | date : 'd-M-yy'}}<br>
              {{travel.purpose}}
           </mat-card-content>
           <mat-card-actions>
              <span (click)="openUpdateDialog('travels',travel.id)" style="cursor:pointer;color:grey"><mat-icon  >create</mat-icon></span>&emsp;
              <span (click)="delelteEntity('travels',travel.id,customerTravels)" style="cursor:pointer; color:grey"><mat-icon  >delete</mat-icon></span>

           </mat-card-actions>
        </mat-card>
     </div>
     <div *ngIf="customerTravels.length===0">No Travels Scheduled</div>
  </div>
</mat-expansion-panel>
</mat-accordion>
